<!DOCTYPE html>
<html lang="en">
<head>
  <title>PyPsi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
  <script type="text/javascript" src="../assets/js/jquery.min.js"></script>

  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>


  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="../assets/css/font-awesome.min.css">

  <link rel="stylesheet" type="text/css" href="../assets/css/custom-font.css">

  <link rel="stylesheet" type="text/css" href="../assets/css/splash.css">
</head>
<body>

<div id="box">
  <h1 class="text animated fadeInLeft">PyPsi</h1>
  <h4 id="desc-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4>
  <div class="loading">
    <div class="dot" id="dot1"></div>
    <div class="dot" id="dot2"></div>
    <div class="dot" id="dot3"></div>
    <div class="dot" id="dot4"></div>
    <div class="dot" id="dot5"></div>
  </div>
  <h4 class="text" id="starting-txt">Initializing (<span id="field-value">100</span>%)</h4>
</div>
<h4 id="lblCount" style="display: none;"></h4>

<script type="text/javascript" src="../assets/js/splash.js"></script>

</body>
</html>
