<!-- Dynamically generated code using Python 3 -->
<img alt='graph' src='../assets/images/svg/colorful/graph.svg'>
<img alt='graph2' src='../assets/images/svg/colorful/graph2.svg'>
<img alt='graph3' src='../assets/images/svg/colorful/graph3.svg'>
<img alt='javascript' src='../assets/images/svg/colorful/javascript.svg'>
<img alt='jpg' src='../assets/images/svg/colorful/jpg.svg'>
<img alt='mp4' src='../assets/images/svg/colorful/mp4.svg'>
<img alt='ppt' src='../assets/images/svg/colorful/ppt.svg'>
<img alt='search' src='../assets/images/svg/colorful/search.svg'>
<img alt='statistics' src='../assets/images/svg/colorful/statistics.svg'>
<img alt='svg' src='../assets/images/svg/colorful/svg.svg'>
<img alt='xls' src='../assets/images/svg/colorful/xls.svg'>
<img alt='xml' src='../assets/images/svg/colorful/xml.svg'>
