<!-- Dynamically generated code using Python 3 -->
<img alt='add' src='../assets/images/svg/add.png'>
<img alt='add_file' src='../assets/images/svg/add_file.svg'>
<img alt='avi' src='../assets/images/svg/avi.svg'>
<img alt='code' src='../assets/images/svg/code.svg'>
<img alt='csv' src='../assets/images/svg/csv.svg'>
<img alt='dmg' src='../assets/images/svg/dmg.svg'>
<img alt='doc' src='../assets/images/svg/doc.svg'>
<img alt='docx' src='../assets/images/svg/docx.svg'>
<img alt='edit_file' src='../assets/images/svg/edit_file.svg'>
<img alt='eps' src='../assets/images/svg/eps.svg'>
<img alt='gif' src='../assets/images/svg/gif.svg'>
<img alt='html' src='../assets/images/svg/html.svg'>
<img alt='icons8-folder' src='../assets/images/svg/icons8-folder.svg'>
<img alt='icons8-opened-folder' src='../assets/images/svg/icons8-opened-folder.svg'>
<img alt='image' src='../assets/images/svg/image.svg'>
<img alt='jpeg' src='../assets/images/svg/jpeg.svg'>
<img alt='js' src='../assets/images/svg/js.svg'>
<img alt='mov' src='../assets/images/svg/mov.svg'>
<img alt='mp3' src='../assets/images/svg/mp3.svg'>
<img alt='mp4' src='../assets/images/svg/mp4.svg'>
<img alt='music' src='../assets/images/svg/music.svg'>
<img alt='pdf' src='../assets/images/svg/pdf.svg'>
<img alt='png' src='../assets/images/svg/png.svg'>
<img alt='ppt' src='../assets/images/svg/ppt.svg'>
<img alt='pptx' src='../assets/images/svg/pptx.svg'>
<img alt='svg' src='../assets/images/svg/svg.svg'>
<img alt='ttf' src='../assets/images/svg/ttf.svg'>
<img alt='txt' src='../assets/images/svg/txt.svg'>
<img alt='woff' src='../assets/images/svg/woff.svg'>
<img alt='xls' src='../assets/images/svg/xls.svg'>
<img alt='xlsx' src='../assets/images/svg/xlsx.svg'>
