<img src="../assets/images/svg/icons8-opened-folder.svg">
<img src="../assets/images/svg/icons8-folder.svg">

<img src="../assets/images/svg/add.png">
<img src="../assets/images/svg/code.svg">
<img src="../assets/images/svg/csv.svg">
<img src="../assets/images/svg/txt.svg">

<img src="../assets/images/svg/pdf.svg">
<img src="../assets/images/svg/txt.svg">
<img src="../assets/images/svg/ttf.svg">
<img src="../assets/images/svg/woff.svg">

<img src="../assets/images/svg/eps.svg">
<img src="../assets/images/svg/add_file.svg">
<img src="../assets/images/svg/edit_file.svg">
<img src="../assets/images/svg/image.svg">

<img src="../assets/images/svg/html.svg">
<img src="../assets/images/svg/js.svg">
<img src="../assets/images/svg/mp3.svg">
<img src="../assets/images/svg/mp4.svg">

<img src="../assets/images/svg/svg.svg">
<img src="../assets/images/svg/png.svg">
<img src="../assets/images/svg/pdf.svg">
<img src="../assets/images/svg/docx.svg">

<img src="../assets/images/svg/avi.svg">
<img src="../assets/images/svg/jpeg.svg">
<img src="../assets/images/svg/doc.svg">
<img src="../assets/images/svg/dmg.svg">

<img src="../assets/images/svg/ppt.svg">
<img src="../assets/images/svg/pptx.svg">
<img src="../assets/images/svg/mov.svg">
<img src="../assets/images/svg/xlsx.svg">

<img src="../assets/images/svg/xls.svg">
<img src="../assets/images/svg/gif.svg">
