body {
    overflow: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
  border-radius: 50px;
}

/* Track */
::-webkit-scrollbar-track {
  /*background: #f1f1f1; */
  background: transparent;
  border-radius: 50px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    -webkit-border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666; 
}

thead, tfoot {
	display: none;
}

.grad-bg {
	background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
}

.dataTables_scrollBody {
	margin-top: 15px;
}

.pagination {
	margin: 0;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: #23527c;
    outline: 0;
    background-color: #7aa7d0;
    border: 1px solid #23527c;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #e4e4e4;
}

.file_menu, .file_menu a{
	background-color: dodgerblue;
	color: white !important;
	border-top: 1px solid dodgerblue;
    border-left: 1px solid dodgerblue;
    border-right: 1px solid dodgerblue;
}

.file_menu:hover, .file_menu a:hover {
	background-color: #389dff !important;
	border-top: 1px solid #389dff !important;
    border-left: 1px solid #389dff !important;
    border-right: 1px solid #389dff !important;
}

.sub-nav {
	background-color: #eee;
}

.checkTD {
	/*width: 4%;*/
    padding: 8px 12px !important;
}

.mail_date {
    /*width: 12%;*/
    text-align: right;
    padding: 10px 8px !important;
    font-size: 1.2rem !important;
    color: #888;
}

.mail_list_content {
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.mail_list_subject {
	font-weight: bold;
	color: #000000;
}

.mail_list_separator, .message {
	color: #4c4c4c;
}

#mail_list_div {
    border-right: 1px solid #ddd; 
    position: relative; 
    padding: 20px 15px; 
    display: block; 
    float: left; 
    resize: horizontal; 
    width: 50%; 
    min-width: 20%;
    max-width: 50%;
}

#mail_form_div {
    position: relative; 
    padding-right: 15px; 
    padding-left: 15px; 
    padding-top: 20px; 
    display: block; 
    float: left; 
    resize: horizontal; 
    width: 50%;
    min-width: 20%;
    max-width: 50%;
}

.ui-icon-gripsmall-diagonal-se, .ui-resizable-s {
    display: none !important;
}

.attach {
	padding: 0 6px;
}

.dated_mail {
    display: flex;
    float: right;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border-left: 0;
    border-right: 0;
    font-size: 1.4rem;
    letter-spacing: .2px;
}

.table-bordered {
    border-left: 0;
    border-right: 0;
}

.table-hover>tbody>tr:hover {
    background-color: #e8e8e8;
    cursor: pointer;
}

.tab-content {
    border: 5px solid #f7f7f7;
    border-top: 0;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    /* background-image: none; */
    border: 0;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
    /* border-radius: 4px; */
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); */
    /* -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; */
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    /* transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; */
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
}

#cke_1_resizer {
    display: none;
}

.file-preview-list {
    background-color: #f5f5f5;
    color: #0368e8;
    border-radius: 5px;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 9px;
    overflow-y: hidden;
    padding: 10px 5px 10px 10px;
}

.file-preview-list a {
    color: #1362ea;
    text-decoration: none;
}

.file-preview-list a:hover span:nth-child(1) {
    text-decoration: underline;
}

.file-preview-list a span:nth-child(2) {
    color: #bbb;
    color: #868686;
    text-decoration: none;
    outline: 0;
}

.file-preview-list .close-list-btn {
    float: right;
    margin-right: 5px;
    font-size: 18px;
    line-height: 1;
    color: #aaa;
}

.file-preview-list .close-list-btn:hover {
    color: #777;
}    

input[type=file]:focus {
    outline: 0;
    outline-offset: -2px;
}

.custom-file-input::-webkit-file-upload-button {
  display: none;
}
.custom-file-input::before {
font-family: FontAwesome;
  content: '\f0c6';
  display: inline-block;
  border: 1px solid #79a4ec;
  border-radius: 3px;
  padding: 5px 10px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  color: #1362ea;
  font-weight: 700;
  font-size: 10pt;
  outline: 0;
}
.custom-file-input:hover::before {
  border-color: #1362ea;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}